.emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    &__image {
        width: 20vw;
    }
    &__title {
        text-transform: uppercase;
    }
}