.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__list {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        width: 50vw;
        padding-bottom: 0.5rem;
        &--link {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
        }
    }
}

@media only screen and (min-width: 700px) and (max-width:990px) {
    .navbar {
        &__list {
            width: 100%;
            padding: auto 1rem;
        }
    }
}

@media only screen and (max-width: 699px) {
    .navbar {
        box-shadow: inset 0 0 70px rgba(255, 255, 255, .5);
        height: 100vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        padding: 85px 15vw;
        text-align: center;
        background-color: #872FD9;
        position: fixed;//o fixed
        z-index: 1;
        margin-top: 3rem;
        overflow: scroll;
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 25px;
            height: 100%;
            &--item {
                width: 100%;
                border-bottom: 1px solid lighten(black, 75%);
                text-align: center;
                font-weight: bold;
            }
        }
    }
    .navbar::-webkit-scrollbar {
        display: none;
    }    
}
