.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.armydive-title a{
    color: #872FD9;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 50vw;
}

.menu-list-item-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}