.cartItem {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #00000059;
    margin-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    &__imageContainer {
        width: 33%;
    }
    &__image {
        width: 100%;
    }
    &__detail {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        justify-content: space-between;
    }
    &__removeItem {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
    }
    &__removeButton {
        background-color: unset;
        border: unset;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            color: #ff0000;
            font-weight: bold;
        }
    }
    &__title {
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    &__totalPrice {
        &--bold {
            font-weight: bold;
        }
    }
}


@media only screen and (min-width:481px) and (max-width:989px) {
    .cartItem {
        align-items: center;
    }   
}


@media only screen and (max-width:480px) {
    .cartItem {
        flex-direction: column;
        &__imageContainer {
            width: 100%;
        }
        &__unitPrice {
            text-align: end;
        }
        &__quantity {
            text-align: center;
        }
        &__totalPrice {
            display: flex;
            justify-content: space-between;
        }
    }
}